html {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #333;
  background: url("images/money-background.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
